@import "tailwindcss";

@layer theme, base, components, utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #242424;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main-color: var(--main-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  /* Nulifier ============================ */
  *,
  *::before,
  *::after {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;

    scroll-behavior: smooth;
  }

  button {
    outline: none;
  }

  button:focus {
    outline: none;
  }

  input,
  textarea,
  button {
    font-family: "Inter", sans-serif;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /*** 
  ====================================================================
      Global Settings
  ====================================================================
  ***/

  body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: var(--main-color);
    line-height: 1.7em;
    font-weight: 400;
    background: #fafafa;
    position: relative;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
  }

  body.active {
    overflow: hidden;
  }

  #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    font-weight: normal;
    margin: 0px;
    background: none;
    line-height: 1.6em;
  }

  /* Typography */
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 34px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  p {
    position: relative;
    line-height: 1.8em;
  }

  ul,
  li {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #dfdfdf;
  }
}

@layer components {
  .auto_container {
    position: relative;
    max-width: 1220px;
    padding: 0px 30px;
    margin: 0 auto;
  }

  /* Swiper overrides */
  .hero_slider .swiper-button-next,
  .hero_slider .swiper-button-prev {
    color: transparent !important;
    height: 30px !important;
  }

  /* .hero_slider .swiper-button-next::after,
  .hero_slider .swiper-button-prev::after {
    display: none;
  } */

  .hero_slider .swiper-button-next {
    right: -50px !important;
  }

  .hero_slider .swiper-button-prev {
    left: -50px !important;
  }

  .hero_slider .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }

  .hero_slider .swiper-pagination-bullet-active {
    background-color: #fff !important;
  }

  /* Checkbox custom */
  .check {
    position: relative;
  }

  .check input {
    display: none;
  }

  .check input:checked + label::after {
    opacity: 1;
  }

  .check label {
    display: block;
    cursor: pointer;
    position: relative !important;
    padding-left: 55px !important;
  }

  .check label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    display: block;
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #ff6a00;
    border-radius: 100%;
  }

  .check label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    display: block;
    min-width: 8px;
    width: 8px;
    height: 8px;
    background-color: #ff6a00;
    border-radius: 50%;
    border: 1px solid #ff6a00;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s linear;
  }

  /* RuleCheck */
  .ruleCheck {
    position: relative;
  }

  .ruleCheck input {
    display: none;
  }

  .ruleCheck input:checked + label::after {
    opacity: 1;
  }

  .ruleCheck label {
    display: block;
    cursor: pointer;
    position: relative !important;
    padding-left: 35px !important;
  }

  .ruleCheck label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #ff6a00;
    border-radius: 2px;
  }

  .ruleCheck label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    display: block;
    min-width: 10px;
    width: 10px;
    height: 10px;
    background-color: #ff6a00;
    border-radius: 2px;
    border: 1px solid #ff6a00;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s linear;
  }

  @media screen and (max-width: 1024px) {
    .hero_slider .swiper-button-next {
      right: 20px !important;
    }

    .hero_slider .swiper-button-prev {
      left: 20px !important;
    }
  }
  @media screen and (max-width: 550px) {
    .auto_container {
      padding: 0 20px;
    }
  }
}
